<mat-card class="registro-wrapper">
  <mat-card-header>
    <mat-card-title>Registro de Usuarios de Inventario</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-button-toggle-group value="capturador" aria-label="Tipo de registro" class="toggle-group">
      <mat-button-toggle (click)="tipoRegistro = 'capturador'" [checked]="tipoRegistro === 'capturador'">Capturador</mat-button-toggle>
      <mat-button-toggle (click)="tipoRegistro = 'administrador'" [checked]="tipoRegistro === 'administrador'">Administrador</mat-button-toggle>
    </mat-button-toggle-group>

    <div [ngSwitch]="tipoRegistro">
      <app-registro-capturador *ngSwitchCase="'capturador'"></app-registro-capturador>
      <app-registro-administradores *ngSwitchCase="'administrador'"></app-registro-administradores>
      <p *ngSwitchDefault>Por favor, selecciona un tipo de usuario para registrar.</p>
    </div>

    <div class="actions">
      <a mat-button routerLink="/login">Acceder</a>
    </div>
  </mat-card-content>
</mat-card>

