<div class="wrapper">
  <div class="reg-shell">
    <!-- Selección de tipo de usuario -->
    <mat-card class="role-card">
      <mat-card-header class="role-card-header">
        <div class="actions-header-colum">
          <ng-container *ngIf="!editar; else active">
            <mat-card-title class="title-card">Registro de usuario</mat-card-title>
            <mat-card-subtitle class="subtitle-card">
              Selecciona el tipo para mostrar el formulario correspondiente
            </mat-card-subtitle>
          </ng-container>
          <ng-template #active>
            <mat-card-title class="title-card">Edición de usuario</mat-card-title>
            <mat-card-subtitle class="subtitle-card">
              Modifica los datos del usuario seleccionado
            </mat-card-subtitle>
          </ng-template>
        </div>
        <!-- Botón regresar compartido -->
        <div class="actions-row">
          <button mat-icon-button class="back-btn" (click)="goBack()">
            <mat-icon class="back-icon">arrow_back</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <!-- Radio buttons como contenido para elegir al ususario -->
      <mat-card-content>
        <div class="role-row">
          <mat-radio-group aria-label="Tipo de usuario" [(ngModel)]="user.tipo_usuario" (change)="radioChange($event)" [disabled]="editar">
            <!-- Administrador -->
            <mat-radio-button
              class="role-pill"
              value="empleado">
              <mat-icon class="me-1">person_apron</mat-icon>
              <span class="text-radio">Empleado</span>
            </mat-radio-button>
            <!-- Otro -->
            <mat-radio-button
              class="role-pill"
              value="otro">
              <mat-icon class="me-1">person</mat-icon>
              <span class="text-radio">Otro</span>
            </mat-radio-button>

          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- Formularios de registro según el tipo seleccionado -->
    <div class="forms-area">
      <!-- Formularios (vistas) de cada usuario (inyección dinámica) -->
      <app-registro-admin *ngIf="isOtro" [rol]="tipo_user" [datos_user]="user"></app-registro-admin>

      <app-registro-empleados *ngIf="isEmpleado" [rol]="tipo_user" [datos_user]="editar ? user : null"></app-registro-empleados>

    </div>
  </div>
</div>
