// Importar variables de color centralizadas
@import '../../styles/color-variables';

.auth-layout-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-bg-light-2;
}
.auth-main {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}
