<div class="screen-container">
  <mat-card>
    <mat-card-content>
      <!-- Tabla superior -->
      <div class="table-wrapper">
        <app-tabla-captura-partial> </app-tabla-captura-partial>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="bottom-actions">
    <mat-card-content>
      <div class="wrapper">
        <!-- Area inferior: botones a la izquierda, campos a la derecha -->
         <app-inputs-captura-partial> </app-inputs-captura-partial>
      </div>
    </mat-card-content>
  </mat-card>
</div>
