<div class="screen-container">

  <!--
    ZONA A: Tabla
    [isReadOnly]: Pasamos la bandera al hijo.
    Si ZONA B desaparece, Flexbox hará que este div ocupe el 100% de la altura.
  -->
  <div class="table-wrapper">
    <app-tabla-captura-partial [isReadOnly]="isReadOnly"></app-tabla-captura-partial>
  </div>

  <!--
    ZONA B: Inputs
    *ngIf="!isReadOnly": Solo se renderiza si la captura es editable (BORRADOR).
  -->
  <div class="bottom-actions" *ngIf="!isReadOnly">
    <app-inputs-captura-partial
        #inputsComponent
        [isLoading]="isLoading"
        [articuloEncontrado]="productoTemporal"
        (onBuscarCodigo)="procesarBusqueda($event)"
        (onConfirmarCaptura)="procesarGuardado($event)">
    </app-inputs-captura-partial>
  </div>

  <!-- Sidebar (Siempre visible para ver info, acciones internas controladas por su propia lógica) -->
  <app-info-captura-sidebar
    [captura]="capturaActual"
    [totalArticulos]="totalDetallesCount"
    [pendientesSincronizar]="colaPendientes.length"
    (onFinalizar)="finalizarCaptura()"
    (onSincronizar)="sincronizarPendientes()"
    (onEliminar)="eliminarCapturaActual()">
  </app-info-captura-sidebar>

</div>
