<div>
  <mat-form-field>
    <mat-label>Buscar Producto</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ingresa código o nombre del producto">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z1 full-width">

  <!-- Codigo Column -->
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
  </ng-container>

  <!-- Nombre Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre del Producto </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Existencia previa Column -->
  <ng-container matColumnDef="existencia_previa">
    <th mat-header-cell *matHeaderCellDef> Existencia previa </th>
    <td mat-cell *matCellDef="let element"> {{element.existencia_previa}} </td>
  </ng-container>

  <!-- Existencia capturada Column -->
  <ng-container matColumnDef="existencia_capturada">
    <th mat-header-cell *matHeaderCellDef> Existencia capturada </th>
    <td mat-cell *matCellDef="let element"> {{element.existencia_capturada}} </td>
  </ng-container>

  <!-- Diferencia Column -->
  <ng-container matColumnDef="diferencia">
    <th mat-header-cell *matHeaderCellDef> Diferencia </th>
    <td mat-cell *matCellDef="let element"> {{element.diferencia}} </td>
  </ng-container>

  <!-- NUEVA COLUMNA DE ACCIONES -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef class="font-semibold text-gray-700 text-center"> Editar </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <!-- Usamos mat-icon-button para un botón de icono con estilo Material -->
        <button mat-icon-button
                color="primary"
                (click)="editarFila(element)"
                aria-label="Editar fila">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- NUEVA COLUMNA DE ACCIONES -->
    <ng-container matColumnDef="ticket">
      <th mat-header-cell *matHeaderCellDef class="font-semibold text-gray-700 text-center"> Ticket </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <!-- Usamos mat-icon-button para un botón de icono con estilo Material -->
        <button mat-icon-button
                color="primary"
                (click)="ticketProducto(element)"
                aria-label="Editar fila">
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- NUEVA COLUMNA DE ACCIONES -->
    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef class="font-semibold text-gray-700 text-center"> Eliminar </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <!-- Usamos mat-icon-button para un botón de icono con estilo Material -->
        <button mat-icon-button
                color="primary"
                (click)="eliminarFila(element)"
                aria-label="Editar fila">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
</mat-paginator>
