<table mat-table [dataSource]="dataSource" class="mat-elevation-z1 full-width">

  <!-- Codigo Column -->
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
  </ng-container>

  <!-- Nombre Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre del Producto </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Existencia previa Column -->
  <ng-container matColumnDef="existencia_previa">
    <th mat-header-cell *matHeaderCellDef> Existencia previa </th>
    <td mat-cell *matCellDef="let element"> {{element.existencia_previa}} </td>
  </ng-container>

  <!-- Existencia capturada Column -->
  <ng-container matColumnDef="existencia_capturada">
    <th mat-header-cell *matHeaderCellDef> Existencia capturada </th>
    <td mat-cell *matCellDef="let element"> {{element.existencia_capturada}} </td>
  </ng-container>

  <!-- Diferencia Column -->
  <ng-container matColumnDef="diferencia">
    <th mat-header-cell *matHeaderCellDef> Diferencia </th>
    <td mat-cell *matCellDef="let element"> {{element.diferencia}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
</mat-paginator>
