.table-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid;
  flex: 1 1 0;
}

.pagination-container {
  flex: 0 1 auto;
	width: 100%;
	/* optional visual separation */
	box-shadow: 0 -2px 6px rgba(0,0,0,0.06);
}
