<mat-sidenav-container class="dashboard-sidenav-container">

  <!-- SIDENAV: Usamos nuestro componente app-sidenav -->
  <mat-sidenav #sidenav class="app-sidenav" mode="side">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <!-- CONTENT: Contiene el toolbar y el router-outlet -->
  <mat-sidenav-content>

    <!-- TOOLBAR: Escuchamos el evento (menuClick) -->
    <app-toolbar (menuClick)="sidenav.toggle()"></app-toolbar>

    <main class="content-area">
      <!-- Aquí se carga el contenido de las páginas hijas -->
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
