.capture-area{
  display: flex;
  flex-direction: row;
}

.right-form {
  display: flex;
  flex-direction: column;
}

.left-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  padding: 0 2rem 0 0;
}

.separador {
  width: 100%;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

#registrar-button {
  height: 96px;
}


@media (max-width: 767px) {
  .left-actions {
    padding: 0 0.5rem 0 0;
  }

}
