<div class="logo-container">
  <!-- Asegúrate de que la ruta de la imagen exista en tu proyecto -->
  <img src="../../../assets/images/VR_simbolo.png" alt="Logo" class="logo-VR" />
</div>

<mat-nav-list>
  <a mat-list-item routerLink="/home/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span class="link-text">Dashboard</span>
  </a>
  <a mat-list-item routerLink="/home/usuarios" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span class="link-text">Usuarios</span>
  </a>
  <a mat-list-item routerLink="/config" routerLinkActive="active" disabled="true">
    <mat-icon>settings</mat-icon>
    <span class="link-text">Configuración</span>
  </a>
  <a mat-list-item routerLink="/home/captura" routerLinkActive="active">
    <mat-icon>edit</mat-icon>
    <span class="link-text">Captura</span>
  </a>
</mat-nav-list>
